[Unit]
Description=Wi-Fi manager service
After=dbus.service wpa_supplicant.service hostapd.service dnsmasq.service
StartLimitIntervalSec=300
StartLimitBurst=9
StartLimitAction=reboot-force

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/opt/effective-range/venvs/wifi-manager/bin/python3 /opt/effective-range/venvs/wifi-manager/bin/wifi-manager.py

[Install]
WantedBy=multi-user.target
