#!/usr/bin/make -f

export ARTIFACTS_DIR ?= dist

override_dh_builddeb:
	mkdir -p $(ARTIFACTS_DIR)
	mv ../wifi-manager_*.dsc ../wifi-manager_*.tar.* $(ARTIFACTS_DIR)
	dh_builddeb $@ --destdir=$(ARTIFACTS_DIR) -- -Zgzip

%:
	dh $@ --with python-virtualenv --python /usr/bin/python3 --with=systemd
