body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

menu-bar {
    background: #333;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.menu-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.menu-bar li {
    margin: 0;
    flex: 1;
}
.menu-bar a {
    display: block;
    color: #007BFF;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    gap: 10px;
}

.form {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 320px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form label,
.form input,
.form button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 300px;
    margin-bottom: 10px;
    text-align: center;
}

.form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form label {
    max-width: 320px;
}

#hostname {
    font-weight: bold;
}

#result {
    margin-top: 10px;
}

#command-result {
    text-align: left;
}

.result {
    font-weight: bold;
}

@media (max-width: 500px) {
    .form {
        width: 100%;
    }
}
