<!DOCTYPE html>
<html lang="EN">
<head>
    <title>Network configuration</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../static/style.css" rel="stylesheet"/>
</head>
<body>
<nav class="menu-bar">
    <ul>
        <li><a href="/web/configuration">Configuration</a></li>
        <li><a href="/web/operation">Operation</a></li>
        <li><a href="/web/execution">Execution</a></li>
    </ul>
</nav>
<div class="container">
    <form class="form">
        <label id="hostname">Device: {{ hostname }}</label>
    </form>
    <form action="configure" class="form" method="post">
        <label for="ssid"></label>
        <input id="ssid" name="ssid" placeholder="Enter Wi-Fi AP name" required type="text" value="{{ ssid }}">
        <label for="password"></label>
        <input id="password" name="password" placeholder="Enter Wi-Fi password" required type="text"
               value="{{ password }}">
        <button type="submit" value="Submit">Configure</button>
        <label id="result">{{ configure_result }}</label>
    </form>
</div>
</body>
</html>
